{% set page_title = page_title | default('Overview') %}
<html>
    <head>
        <title>Trash Panda</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/css/materialdesignicons.min.css" />
        <link rel="stylesheet" href="/static/css/colors.css" />
        <link rel="stylesheet" href="/static/css/icons.css" />
        <link rel="stylesheet" href="/static/css/mobile.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="container">
        <div class="header">
          <nav class="navbar navbar-expand-lg">
            <h3 class="navbar-brand text-muted"><a href="/dashboard/"><img src="/static/favicon-50x50.png" class="mr-3"/></a><span class="tp-title"><span class="text-danger">Trash Panda</span> -</span> {{ page_title }}</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-menu icon-inline"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
              <ul class="navbar-nav">
                <li class="nav-item dropdown mb-2">
                  <a class="nav-link dropdown-toggle btn tp-bg-{{ get_nav_style() }} ml-2" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Dashboards
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/dashboard/">Overview</a>
                    <a class="dropdown-item" href="/dashboard/status/issues">Issues</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/dashboard/tags/host">Host Tags</a>
                    <a class="dropdown-item" href="/dashboard/tags/service">Service Tags</a>
                  </div>
                </li>
                <li class="nav-item dropdown mb-2">
                  <a class="nav-link dropdown-toggle btn tp-bg-{{ get_nav_style() }} ml-2" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Hosts
                  </a>
                  <div class="dropdown-menu">
                    {% for group in list_hostgroups() %}
                      {% for host in group.members %}
                      <a class="dropdown-item" href="/dashboard/status/host/{{ host.id }}"><i class="mdi mdi-{{ host.icon }} icon-sm"></i> {{ host.name }}</a>
                      {% endfor %}
                      {% if not loop.last %}
                      <!-- don't put this at the end -->
                      <div class="dropdown-divider"></div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </li>
                {% if create_nav_links() | length > 0 %}
                <li class="nav-item dropdown mb-2">
                  <a class="nav-link dropdown-toggle btn tp-bg-{{ get_nav_style() }} ml-2" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    {{ custom_link_title() }}
                  </a>
                  <div class="dropdown-menu">
                    {% for button in create_nav_links() %}
                    <a class="dropdown-item" href="/dashboard/status/host/{{ button.url }}" target="{{ '_blank' if button.new_tab else '_self'}}">{{ button.name }}</a>
                    {% endfor %}
                  </div>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link btn tp-bg-{{ get_nav_style() }} ml-2" href="/dashboard/editor" aria-haspopup="false" aria-expanded="false"><i class="mdi mdi-cog" style="font-size: 16px"></i></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        {% for category,message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div id="js-success-alert" class="alert alert-success" style="display:none" role="alert"></div>
        <div id="js-error-alert" class="alert alert-danger" style="display:none" role="alert"></div>
        {% block content %}{% endblock %}
        <script type="text/javascript">
          $(document).ready(function () {
            // unique page functions to load here
            {% block onload_scripts %}{% endblock %}
          });
        </script>
        <footer class="footer mt-5" align="center">
           <p>
             <a href="/dashboard/guide" class="mr-3"><i class="mdi mdi-book-open-page-variant-outline icon-2x"></i></a>
             <a href="/api/docs" class="mr-3"><i class="mdi mdi-code-braces icon-2x"></i></a>
             <a href="https://github.com/robweber/trash-panda"><i class="mdi mdi-github icon-2x"></i></a>
           </p>
           <p>Version 6.3</p>
        </footer>
    </body>
</html>
