{% extends "base.html" %}
{% block header %}
<script src="/static/js/ace/ace.js" type="text/javascript"></script>
<script src="/static/js/editor.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
  <p>Modify individual YAML config files or Markdown files for the monitoring system. Keep in mind that a restart of the service will be needed to make-live any changes. For help with syntax refer to <a href="/guide">the guide</a>.</p>
  <div align="right">
    {% if not editor_config['read_only']: %}
    <button class="btn btn-success mr-1" onClick="saveFile()">Save</button>
    <button class="btn btn-primary" onClick="checkConfig()">Check Config</button>
    {% else: %}
    <h5 class="text-danger">Read Only Mode</h5>
    {% endif %}
  </div>
  <div class="row my-1">
    <div class="col-md-8">
      <h3>File: <a href="#" onClick="return toggleFileBrowser()" id="config_path">{{ config_file }}</a></h3>
    </div>
  </div>
  <div class="row my-1" id="file_browser" style="display:none">
    <div class="col-md-2">
      <!-- nothing here -->
    </div>
    <div class="col-md-8">
      <div class="p-2 font-weight-bold">
        Path: <span id="file_path"></span>
      </div>
      <div id="file_list" class="m-2 p-2 border border-secondary">
      </div>
      <div class="row p-2">
        <div class="col-md-8">
        <input type="text" class="form-control" id="new_file_name" />
        </div>
        <div class="col-md-4" align="right">
          <button class="btn btn-primary create-file-btn" onClick="createFile()">Create File</button>
        </div>
      </div>
    </div>
  </div>

  <p id="validation_errors" class="text-danger"></p>

  <textarea class="my-1" id="editor" style="height:200px">
  </textarea>
</div>
<script type="text/javascript">
  // load ace editor
  ace.require("ace/ext/language_tools");
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.setOption("maxLines", 40);
  editor.setOption("minLines", 40);
  editor.setReadOnly({{ (editor_config['read_only']) | string | lower }});  // set based on read only config
  editor.session.setMode("ace/mode/yaml");

  //add the save key binding
  editor.commands.addCommand({
    name: 'save-yaml-file',
    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
    exec: function(editor) {
        saveFile()
    },
    readOnly: false // false if this command should not apply in readOnly mode
  });
</script>
{% endblock %}
{% block onload_scripts %}
loadFiles("");
loadEditor();
{% endblock %}
