{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/css/documentation.css" />
<link rel="stylesheet" href="/static/css/highlightjs.min.css" />
<script src="/static/js/highlight.min.js"></script>
<script type="text/javascript">
function check_now(id){
  //set the host next check time to now to force an update
  $.post('/api/command/check_now/' + id, {}, function(data, status, request){
    if(data.success){
      $('#js-success-alert').html("Host check time updated to " + data.next_check);
      $('#js-success-alert').show().delay(3000).fadeOut();

      $('#host-next-check').html(data.next_check);
    }
    else {
      $('#js-error-alert').html("Error forcing host update");
      $('#js-error-alert').show().delay(3000).fadeOut();
    }
  });
}

function silence_host(id, minutes){
  $.post('/api/command/silence_host/' + id + '/' + minutes, function(data, status, request){
    if(data.success){
      if(data.is_silenced)
      {
        $('#js-success-alert').html("Host silenced until " + data.until);

        $('#silence-btn').html('Silenced');
        $('#silence-btn').addClass('btn-danger');
        $('#silence-btn').removeClass('btn-warning');
        $('#cancel-btn').show();
      }
      else
      {
        $('#js-success-alert').html("Silent mode canceled");

        $('#silence-btn').html('Silence');
        $('#silence-btn').addClass('btn-warning');
        $('#silence-btn').removeClass('btn-danger');
        $('#cancel-btn').hide();
      }

      $('#js-success-alert').show().delay(3000).fadeOut();
    }
    else {
      $('#js-error-alert').html("Error silencing host");
      $('#js-error-alert').show().delay(3000).fadeOut();
    }
  });
}

</script>
{% endblock %}
{% block content %}
{% set current_status = ['text-success', 'text-warning', 'text-danger', 'text-secondary'] %}
{% set overall_status = ['OK', 'Warning', 'Critical', 'Unknown'] %}
{% set status_text = ['', '', '', 'text-secondary'] %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="mb-3 host-title"><i class="mdi mdi-{{ host['icon'] }} icon-2x"></i> {{ host['name'] }}</h2>
      <p>{{ host['info'] }}</p>
    </div>
    <div class="col-lg-4 host-status-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Type: <span class="text-info">{{ host['type'] | replace('_',' ') | title }}</span></h5>
          <p class="card-text">
            Overall Status: <span class="{{ current_status[host['overall_status']] }}">{{ overall_status[host['overall_status']] }}</span> <br />
            Last Check: {{ host['last_check'] }} <br />
            Next Check: <span id="host-next-check">{{ host['next_check'] }}</span> <br />
            IP Address: {{ host['address'] }}
          </p>
          {% if('management_page' in host): %}
          <a href="{{ host['management_page'] }}" class="card-link" target="_blank"> Launch Management <i class="mdi mdi-launch icon-sm icon-inline"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="mt-2 pt-1" align="right">
  {% if('services' in host): %}
    <button class="btn btn-primary service_check_btn" onclick="check_now('{{host['id']}}')">Check Now</button>
  {% if has_notifier %}
    <div class="dropdown div-inline silence_btn">
      {% if host['silenced'] %}
      <button id="silence-btn" class="btn btn-danger dropdown-toggle silence_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Silenced</button>
      {% else %}
      <button id="silence-btn" class="btn btn-warning dropdown-toggle silence_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Silence</button>
      {% endif %}
      <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" id="cancel-btn" style="{{ 'display:none' if not host['silenced'] else '' }}" onClick="silence_host('{{host['id']}}', -1)">Cancel</button>
        <button class="dropdown-item" type="button" onClick="silence_host('{{host['id']}}', 30)">30 Min</button>
        <button class="dropdown-item" type="button" onClick="silence_host('{{host['id']}}', 60)">1 Hour</button>
        <button class="dropdown-item" type="button" onClick="silence_host('{{host['id']}}', 120)">2 Hours</button>
      </div>
    </div>
  {% endif %}
  </div>
  <ul class="nav nav-tabs" id="host-content-nav" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="services-tab" data-toggle="tab" href="#services" role="tab">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="services-tab" data-toggle="tab" href="#documentation" role="tab">Documentation</a>
    </li>
  </ul>
  <div class="tab-content" id="host-content">
    <div class="tab-pane show active" id="services">
      <table class="table table-striped mt-3" id="service_status">
        <thead class="thead-dark">
          <tr>
            <th>Service</th>
            <th class="hide-md">Output</th>
            <th>Last Change</th>
          </tr>
        </thead>
        {% for row in host['services']: %}
        <tr>
          <td class="{{ current_status[row['return_code']] }} row_1">
            {{ row['name'] }}
            {% if(row['state'] == 'UNCONFIRMED') %}
            (check {{ row['check_attempt'] }}/{{ host['service_check_attempts'] }})
            {% endif %}
            {% if('service_url' in row) %}
            <a href="{{ row['service_url'] }}" target="_blank" class="mdi mdi-launch icon-sm icon-inline"></a>
            {% endif %}
            <br />
            <div class="text-right mt-1">
              {% for t in row['tags'] %}
              <a href="/status/tag/{{ slugify(t) }}" class="text-light"><span class="badge rounded-pill bg-{{ get_tag_color(t) }}">{{ t }}</span></a>
              {% endfor %}
            </div>
          </td>
          <td class="{{ status_text[row['return_code']] }} row_2 hide-md">{{ row['text'].replace("\n", '<br />') | safe }}</td>
          <td class="{{ status_text[row['return_code']] }}">{{ row['last_state_change'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
    <div class="tab-pane mt-3" id="documentation">
      {% if docs | length %}
      <div align="right">
        <a href="/editor?path={{ doc_file }}" class="btn btn-sm btn-outline-secondary">Edit File</a>
      </div>
      {{ docs | safe }}
      {% else %}
      <p align="center">No documentation. Create the file <b>{{ host['id'] }}.md</b> to create some.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block onload_scripts %}
hljs.highlightAll();
{% endblock %}
