{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/css/documentation.css" />
<link rel="stylesheet" href="/static/css/highlightjs.min.css" />
<script src="/static/js/highlight.min.js"></script>
<script src="/static/js/countdown.js"></script>
<script type="text/javascript">
var countdown = new UpdateCountdown();
var STATUS_COLORS = ['text-success', 'text-warning', 'text-danger', 'text-secondary'];
var OVERALL_STATUS = ['OK', 'Warning', 'Critical', 'Unknown'];
var TAGS = {{ tags | safe }};

function slugify(str) {
  str = str.replace(/^\s+|\s+$/g, ''); // trim leading/trailing white space
  str = str.toLowerCase(); // convert string to lowercase
  str = str.replace(/[^a-z0-9 -]/g, '') // remove any non-alphanumeric characters
           .replace(/\s+/g, '-') // replace spaces with hyphens
           .replace(/-+/g, '-'); // remove consecutive hyphens
  return str;
}

function check_now(id){
  //set the host next check time to now to force an update
  $.post('/api/command/check_now/' + id, {}, function(data, status, request){
    if(data.success){
      $('#js-success-alert').html("Host check time updated to " + data.next_check);
      $('#js-success-alert').show().delay(3000).fadeOut();

      $('#host-next-check').html(data.next_check);
    }
    else {
      $('#js-error-alert').html("Error forcing host update");
      $('#js-error-alert').show().delay(3000).fadeOut();
    }
  });
}

function silence_host(id, minutes){
  $.post('/api/command/silence_host/' + id + '/' + minutes, function(data, status, request){
    if(data.success){
      if(data.is_silenced)
      {
        $('#js-success-alert').html("Host silenced until " + data.until);

        $('#silence-btn').html('Silenced');
        $('#silence-btn').addClass('btn-danger');
        $('#silence-btn').removeClass('btn-warning');
        $('#cancel-btn').show();
      }
      else
      {
        $('#js-success-alert').html("Silent mode canceled");

        $('#silence-btn').html('Silence');
        $('#silence-btn').addClass('btn-warning');
        $('#silence-btn').removeClass('btn-danger');
        $('#cancel-btn').hide();
      }

      $('#js-success-alert').show().delay(3000).fadeOut();
    }
    else {
      $('#js-error-alert').html("Error silencing host");
      $('#js-error-alert').show().delay(3000).fadeOut();
    }
  });
}

function load_status(){
  $.ajax({type: 'GET', url: '/api/status/host/{{ host['id'] }}', success: function(data, status, request){
    table = $('#service_status > tbody');

    // setup row objects
    var tr = $('<tr>');
    var td = $('<td>');
    var div = $('<div>');

    //clear existing data
    table.empty();

    data.services.forEach(function(s){
      row = tr.clone();

      //create a row for the service name and links
      col_size = 12;  // use whole col by default

      // add check attempts if unconfirmed
      check_attempts = '';
      if(s.state == 'UNCONFIRMED')
      {
        check_attempts = "<br />(check " + s.check_attempt + "/" + data.service_check_attempts + ")";
      }

      // create service link
      serviceLink = $('<a>').text(s.name).addClass(STATUS_COLORS[s.return_code]);
      serviceLink.attr('href', '/status/services/-' + slugify(s.name) + "$");
      col1 = $('<div>').append(serviceLink).append(check_attempts);

      //create a column for the links (if any)
      link1 = '';
      if(s.hasOwnProperty('service_url'))
      {
        link1 = $('<a>');
        link1.attr('href', s.service_url);
        link1.attr('target', "_blank");
        link1.attr('class', 'mdi mdi-launch icon-sm icon-inline');
        col_size = 6;
      }

      link2 = '';
      if(s.hasOwnProperty('perf_data'))
      {
        link2 = $('<a>');
        link2.attr('href', '/perf_data/' + s.id);
        link2.attr('class', 'mdi mdi-chart-areaspline-variant icon-sm icon-inline');
        col_size = 6;
      }

      //set width of the name column
      col1.attr('class', 'pr-0 col-' + col_size + ' ' + STATUS_COLORS[s.return_code]);
      row1 = $('<div>').append(col1);
      row1.attr('class', 'row');

      //if links exist add those as well
      if(col_size != 12)
      {
        col2 = $('<div>').append(link1).append(link2);
        col2.attr('class', 'pl-0 col-6 text-right');
        row1.append(col2);
      }

      tag_div = $('<div>').addClass('col-sm-12').addClass('text-left');
      s.tags.forEach(function(aTag){
        tagPill = $('<span>').text(TAGS[aTag]['name']).addClass('badge').addClass('rounded-pill').addClass('bg-' + TAGS[aTag]['color']);
        tagLink = $('<a>').append(tagPill).addClass('text-light');
        tagLink.attr('href', '/status/tag/' + aTag);
        tag_div.append(tagLink);
      });

      row2 = $('<div>').append(tag_div).addClass('row').addClass('align-items-end').addClass('mt-2');

      row.append(td.clone().append(row1).append(row2).addClass('row_1'));

      row.append(td.clone().html(s.text.replaceAll("\n", "<br />")).addClass('hide-md').addClass('row_2'));
      row.append(td.clone().text(s.last_state_change));

      table.append(row);

    });

    // set overall status and update times
    $('#host-overall-status').removeClass();
    $('#host-overall-status').html(OVERALL_STATUS[data.overall_status]).addClass(STATUS_COLORS[data.overall_status]);
    $('#host-last-check').html(data.last_check);
    $('#host-next-check').html(data.next_check);

    countdown.reset_countdown();
  }});

}

</script>
{% endblock %}
{% block content %}
{% set overall_status = ['OK', 'Warning', 'Critical', 'Unknown'] %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="mb-3 host-title"><i class="mdi mdi-{{ host['icon'] }} icon-2x"></i> {{ host['name'] }}</h2>
      <p>{{ host['info'] }}</p>
    </div>
    <div class="col-lg-4 host-status-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Type: <span class="text-info">{{ host['type'] | replace('_',' ') | title }}</span></h5>
          <p class="card-text">
            Overall Status: <span id="host-overall-status">{{ overall_status[host['overall_status']] }}</span> <br />
            Last Check: <span id="host-last-check">{{ host['last_check'] }}</span> <br />
            Next Check: <span id="host-next-check">{{ host['next_check'] }}</span> <br />
            IP Address: {{ host['address'] }}
          </p>
          {% if('management_page' in host): %}
          <a href="{{ host['management_page'] }}" class="card-link" target="_blank"> Launch Management <i class="mdi mdi-launch icon-sm icon-inline"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="mt-2 pt-1" align="right">
  {% if('services' in host): %}
    <button class="btn btn-primary service_check_btn" onclick="check_now('{{host['id']}}')">Check Now</button>
  {% if has_notifier %}
    <div class="dropdown div-inline silence_btn">
      {% if host['silenced'] %}
      <button id="silence-btn" class="btn btn-danger dropdown-toggle silence_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Silenced</button>
      {% else %}
      <button id="silence-btn" class="btn btn-warning dropdown-toggle silence_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Silence</button>
      {% endif %}
      <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" id="cancel-btn" style="{{ 'display:none' if not host['silenced'] else '' }}" onClick="silence_host('{{host['id']}}', -1)">Cancel</button>
        <button class="dropdown-item" type="button" onClick="silence_host('{{host['id']}}', 30)">30 Min</button>
        <button class="dropdown-item" type="button" onClick="silence_host('{{host['id']}}', 60)">1 Hour</button>
        <button class="dropdown-item" type="button" onClick="silence_host('{{host['id']}}', 120)">2 Hours</button>
      </div>
    </div>
  {% endif %}
  </div>
  <ul class="nav nav-tabs" id="host-content-nav" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="services-tab" data-toggle="tab" href="#services" role="tab">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="services-tab" data-toggle="tab" href="#documentation" role="tab">Documentation</a>
    </li>
  </ul>
  <div class="tab-content" id="host-content">
    <div class="tab-pane show active" id="services">
      <table class="table table-striped mt-3" id="service_status">
        <thead class="thead-dark">
          <tr>
            <th>Service</th>
            <th class="hide-md">Output</th>
            <th>Last Change</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td colSpan="5" align="center">Last Refresh <span id="last_updated">0</span> seconds ago</td>
          </tr>
        </tfoot>
      </table>
      {% endif %}
    </div>
    <div class="tab-pane mt-3" id="documentation">
      {% if docs | length %}
      <div align="right">
        <a href="/editor?path={{ doc_file }}" class="btn btn-sm btn-outline-secondary">Edit File</a>
      </div>
      {{ docs | safe }}
      {% else %}
      <p align="center">No documentation. Create the file <b>{{ host['id'] }}.md</b> to create some.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block onload_scripts %}
hljs.highlightAll();
load_status();
setInterval(load_status, 15000);
countdown.start_countdown()
{% endblock %}
