{% extends "base.html" %}
{% block content %}
{% set current_status = ['text-success', 'text-warning', 'text-danger', 'text-secondary'] %}
{% set status_text = ['', '', '', 'text-secondary'] %}

<div class="row">
  <div class="col-md-8">
    <h2 class="mb-3"><i class="mdi mdi-{{ host['icon'] }} icon-2x"></i> {{ host['name'] }}</h2>
    <p>{{ host['info'] }}</p>
  </div>
  <div class="col-md-4" align="right">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Type: <span class="text-primary">{{ host['type'] | capitalize }}</span></h5>
        <p class="card-text">
          Last Check: {{ host['last_check'] }} <br />
          IP Address: {{ host['address'] }} <br />
          {% if 'config' in host %}
            {% for c in host['config'].keys() %}
              {% if "password" in c | lower %}
              {{ c | capitalize }}: ***** <br />
              {% else %}
              {{ c | capitalize }}: {{ host['config'][c] }} <br />
              {% endif %}
            {% endfor %}
          {% endif %}
        </p>
        {% if('management_page' in host): %}
        <a href="{{ host['management_page'] }}" class="card-link" target="_blank"> Launch Management <i class="mdi mdi-launch icon-sm icon-inline"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if('services' in host): %}
<table class="table table-striped mt-3">
  {% for row in host['services']: %}
  <tr>
    <td class="{{ current_status[row['return_code']] }}" width="25%">{{ row['name'] }}</td>
    <td class="{{ status_text[row['return_code']] }}">{{ row['text'].replace("\n", '<br />') | safe }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
