{% extends "base.html" %}
{% block header %}
<script src="/static/js/countdown.js"></script>
<script type="text/javascript">
var countdown = new UpdateCountdown("last_updated");

function silence_all(tag, minutes){
  $.post('/api/command/silence_tag/' + tag + '/' + minutes, function(data, status, request){
    if(data.success){
      if(data.is_silenced)
      {
        $('#js-success-alert').html("Hosts silenced until " + data.until);

        $('#silence-btn').html('Silenced');
        $('#silence-btn').addClass('btn-danger');
        $('#silence-btn').removeClass('btn-warning');
        $('#cancel-btn').show();
      }
      else
      {
        $('#js-success-alert').html("Silent mode canceled");

        $('#silence-btn').html('Silence');
        $('#silence-btn').addClass('btn-warning');
        $('#silence-btn').removeClass('btn-danger');
        $('#cancel-btn').hide();
      }

      $('#js-success-alert').show().delay(3000).fadeOut();
    }
    else {
      $('#js-error-alert').html("Error silencing host");
      $('#js-error-alert').show().delay(3000).fadeOut();
    }
  });
}

function load_status(){
  $.ajax({type: 'GET', url: '{{ url }}', success: function(data, status, request){
    var silent_total = 0;
    var table = $('#host_info > tbody');

    // setup row objects
    var tr = $('<tr>');
    var td = $('<td>');

    //clear existing data
    table.empty();

    if('members' in data){
      iter = data.members
    }
    else {
      iter = data
    }

    iter.forEach(function(h){
      row = tr.clone();

      // link for the details
      details = $('<a>').html('<i class="mdi mdi-' + h.icon + ' icon-inline mr-2"></i><span>' + h.name + "</span>").addClass('host_title ml-2');
      details.attr('href', '/dashboard/status/host/' + h.id);

      row.append(td.clone().append(details));

      if(h.hasOwnProperty('management_page'))
      {
        var aLink = $('<a>');
        aLink.attr('href', h.management_page);
        aLink.attr('target', "_blank");
        aLink.attr('class', 'mdi mdi-launch icon-sm icon-inline');

        row.append(td.clone().text(h.address + ' ').append(aLink).addClass('hide-sm'));
      }
      else {
        row.append(td.clone().text(h.address).addClass('hide-sm'));
      }

      row.append(td.clone().text(h.last_check).addClass('hide-md'));
      row.append(td.clone().text(h.next_check).addClass('hide-md'));

      var silent_mode = '';
      if(h.silenced)
      {
        silent_total ++;
        silent_mode = $('<i>');
        silent_mode.attr('class','mdi mdi-volume-off icon-sm icon-inline ml-1');
      }

      if(h.overall_status == 0){
        row.append(td.clone().text("OK").addClass('text-success').append(silent_mode));
      }
      else if(h.overall_status == 1){
        row.append(td.clone().text("Warning").addClass('text-warning').append(silent_mode));
      }
      else {
        row.append(td.clone().text("Critical").addClass('text-danger').append(silent_mode));
      }

      table.append(row);

    });

    // check if hosts are silenced, or silence removed
    if(silent_total == iter.length && $('#cancel-btn').css('display') == 'none')
    {
      $('#silence-btn').html('Silenced');
      $('#silence-btn').addClass('btn-danger');
      $('#silence-btn').removeClass('btn-warning');
      $('#cancel-btn').show();
    }
    else if(silent_total != iter.length && $('#cancel-btn').css('display') == 'block')
    {
      // revert to normal look
      $('#silence-btn').html('Silence All');
      $('#silence-btn').addClass('btn-warning');
      $('#silence-btn').removeClass('btn-danger');
      $('#cancel-btn').hide();
    }

    // reset countdown
    countdown.reset_countdown();
  }});
}
</script>
{% endblock %}
{% block content %}
<div class="container">
  {% if (message == 'none'): %}
  <p>The overall status of each host is listed below. Click the name to see additional details. If a management page is configured it can be launched with the <i class="mdi mdi-launch icon-sm icon-inline"></i> icon.</p>
  {% else: %}
  <p>{{ message }}</p>
  {% endif %}
  {% if tag_id %}
  <div class="mt-2 mb-2 pt-1" align="right">
    <div class="dropdown div-inline silence_btn">
      <button id="silence-btn" class="btn btn-warning dropdown-toggle silence_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Silence All</button>
      <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" id="cancel-btn" style="display:none" onClick="silence_all('{{ tag_id }}', -1)">Cancel</button>
        <button class="dropdown-item" type="button" onClick="silence_all('{{ tag_id }}', 30)">30 Min</button>
        <button class="dropdown-item" type="button" onClick="silence_all('{{ tag_id }}', 60)">1 Hour</button>
        <button class="dropdown-item" type="button" onClick="silence_all('{{ tag_id }}', 120)">2 Hours</button>
      </div>
    </div>
  </div>
  {% endif %}
  <table class="table table-striped" id="host_info">
    <thead class="thead-dark">
      <tr>
        <th>Host</th>
        <th class="hide-sm">IP</th>
        <th class="hide-md">Last Check</th>
        <th class="hide-md">Next Check</th>
        <th>Overall Status</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
      <tr>
        <td colSpan="5" align="center">Last Refresh <span id="last_updated">0</span> seconds ago</td>
      </tr>
    </tfoot>
  </table>
</div>

{% endblock %}
{% block onload_scripts %}
// load status and then update every 15 seconds
load_status();
setInterval(load_status, 15000);
countdown.start_countdown()
{% endblock %}
