{% extends "base.html" %}
{% block header %}
<script type="text/javascript">

function toggleDetails(count){
  alert(count);
  row = $("#host_info > tbody > tr").eq(count + 1);

  row.toggle();
}

function load_status(){
  $.ajax({type: 'GET', url: '/api/status/all', success: function(data, status, request){
    table = $('#host_info > tbody');

    // setup row objects
    var tr = $('<tr>');
    var td = $('<td>');

    //clear existing data
    table.empty();

    data.forEach(function(h){
      row = tr.clone();

      // link for the details
      details = $('<a>').html('<i class="mdi mdi-' + h.icon + ' icon-inline mr-2"></i><span>' + h.name + "</span>").addClass('host_title ml-2');
      details.attr('href', '/status/host/' + h.id);

      row.append(td.clone().append(details));

      if(h.hasOwnProperty('management_page'))
      {
        aLink = $('<a>');
        aLink.attr('href', h.management_page);
        aLink.attr('target', "_blank");
        aLink.attr('class', 'mdi mdi-launch icon-sm icon-inline');

        row.append(td.clone().text(h.address + ' ').append(aLink));
      }
      else {
        row.append(td.clone().text(h.address));
      }

      row.append(td.clone().text(h.last_check).addClass('hide-md'));
      row.append(td.clone().text(h.next_check).addClass('hide-md'));

      silent_mode = '';
      if(h.silenced)
      {
        silent_mode = $('<i>');
        silent_mode.attr('class','mdi mdi-volume-off icon-sm icon-inline ml-1');
      }

      if(h.overall_status == 0){
        row.append(td.clone().text("OK").addClass('text-success').append(silent_mode));
      }
      else if(h.overall_status == 1){
        row.append(td.clone().text("Warning").addClass('text-warning').append(silent_mode));
      }
      else {
        row.append(td.clone().text("Critical").addClass('text-danger').append(silent_mode));
      }

      table.append(row);

    });

    // refresh in 15 seconds
    setTimeout(load_status, 15000);
  }});

}

</script>
{% endblock %}
{% block content %}
<div class="container">
  {% if (message == 'none'): %}
  <p>The overall status of each host is listed below. Click the name to see additional details. If a management page is configured it can be launched with the <i class="mdi mdi-launch icon-sm icon-inline"></i> icon.</p>
  {% else: %}
  <p>{{ message }}</p>
  {% endif %}
  <table class="table table-striped" id="host_info">
    <thead class="thead-dark">
      <tr>
        <th>Host</th>
        <th>IP</th>
        <th class="hide-md">Last Check</th>
        <th class="hide-md">Next Check</th>
        <th>Overall Status</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

{% endblock %}
{% block onload_scripts %}
load_status();
{% endblock %}
