{% extends "base.html" %}
{% block header %}
<script type="text/javascript">

function load_status(){
  $.ajax({type: 'GET', url: '/status', success: function(data, status, request){
    table = $('#host_info > tbody');

    //clear existing data
    var tr = $('<tr>');
    var td = $('<td>');
    table.empty();

    data.forEach(function(h){
      row = tr.clone();

      row.append(td.clone().text(h.name));

      if(h.hasOwnProperty('management_page'))
      {
        aLink = $('<a>').text(h.ip);
        aLink.attr('href', h.management_page);
        aLink.attr('target', "_blank");

        row.append(td.clone().append(aLink));
      }
      else {
        row.append(td.clone().text(h.ip));
      }

      // set the status
      if(h.status)
      {
        row.append(td.clone().text("Online").addClass('text-success'));
      }
      else {
        row.append(td.clone().text("Offline").addClass('text-danger'));
      }

      table.append(row);
    });

    // refresh in 15 seconds
    setTimeout(load_status, 15000);
  }});

}

</script>
{% endblock %}
{% block content %}
<p>Status of each hardware component. Click the name of the component to see additional details. Click the IP address to launch the device configuration page.</p>
<div class="container">
  <table class="table table-striped" id="host_info">
    <thead>
      <tr>
        <th>Host</th>
        <th>IP</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    load_status();
  });
</script>
{% endblock %}
