{% extends "base.html" %}
{% block header %}
<script type="text/javascript">

function toggleDetails(count){
  alert(count);
  row = $("#host_info > tbody > tr").eq(count + 1);

  row.toggle();
}

function load_status(){
  $.ajax({type: 'GET', url: '/api/status', success: function(data, status, request){
    table = $('#host_info > tbody');

    // setup row objects
    var tr = $('<tr>');
    var td = $('<td>');

    //clear existing data
    table.empty();

    data.forEach(function(h){
      row = tr.clone();

      // link for the details
      details = $('<a>').html('<i class="mdi mdi-' + h.icon + ' icon-inline mr-2"></i>' + h.name).addClass('ml-2');
      details.attr('href', '/status/' + h.id);

      row.append(td.clone().append(details));

      if(h.hasOwnProperty('management_page'))
      {
        aLink = $('<a>');
        aLink.attr('href', h.management_page);
        aLink.attr('target', "_blank");
        aLink.attr('class', 'mdi mdi-launch icon-sm icon-inline');

        row.append(td.clone().text(h.address + ' ').append(aLink));
      }
      else {
        row.append(td.clone().text(h.address));
      }

      row.append(td.clone().text(h.last_check));
      row.append(td.clone().text(h.next_check));

      if(h.overall_status == 0){
        row.append(td.clone().text("OK").addClass('text-success'));
      }
      else if(h.overall_status == 1){
        row.append(td.clone().text("Warning").addClass('text-warning'));
      }
      else {
        row.append(td.clone().text("Critical").addClass('text-danger'));
      }

      table.append(row);

    });

    // refresh in 15 seconds
    setTimeout(load_status, 15000);
  }});

}

</script>
{% endblock %}
{% block content %}
<p>The overall status of each host is listed below. Click the name to see additional details. If a management page is configuring it can be launched with the <i class="mdi mdi-launch icon-sm icon-inline"></i> icon.</p>
<div class="container">
  <table class="table table-striped" id="host_info">
    <thead>
      <tr>
        <th>Host</th>
        <th>IP</th>
        <th>Last Check</th>
        <th>Next Check</th>
        <th>Overall Status</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

{% endblock %}
{% block onload_scripts %}
load_status();
{% endblock %}
