{% extends "base.html" %}
{% block header %}
<script src="/static/js/chart.min.js"></script>
<script src="/static/js/chartjs-plugin-annotation.min.js"></script>

<script type="text/javascript">
function load_graph(){
  end_time = Math.floor(Date.now()/1000);
  start_time = end_time - ({{ minutes }} * 60)

  {% if 'perf_data' in service %}
  {% for p in service['perf_data']: %}
  $.ajax({type: 'GET', url: '/api/time/{{ p["id"] }}/' + start_time + '/' + end_time, success: function(data, status, request){
    const ctx = document.getElementById('graph-{{ p["id"] }}');

    data_array = [{
      label: '{{ p["id"] }}',
      data: data.values,
      borderWidth: 3,
      color: "#1181F1",
      fill: 'start'
    }]

    annotations = {}

    {% if 'warning' in p %}
    annotations['warning_line'] = {
      type: 'line',
      yMin: {{ p['warning'] }},
      yMax: {{ p['warning'] }},
      borderColor: '#EEC118',
      borderWidth: 2,
      label: {
        content: "Warning",
        color: '#EEC118'
      }
    }
    {% endif %}

    {% if 'critical' in p %}
    annotations['critical_line'] = {
      type: 'line',
      yMin: {{ p['critical'] }},
      yMax: {{ p['critical'] }},
      borderColor: '#EE2518',
      borderWidth: 2,
      label: {
        content: "Critical",
        color: '#EE2518'
      }
    }
    {% endif %}

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: data.times,
        datasets: data_array
      },
      options: {
        {% if 'critical' in p or 'warning' in p %}
        plugins:{
          annotation:{
            annotations: annotations
          }
        },
        {% endif %}
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: '{{ p["uom"] }}',
              font: {
                size: 16,
                weight: "bold"
              }
            }
          }
        }
      }
    });
  }});
  {% endfor %}
  {% endif %}
}
</script>

{% endblock %}
{% block content %}
<div class="container">
  <div class="mt-2 pt-1" align="right">
    <div class="dropdown div-inline silence_btn">
      {% set time_display = ((minutes/60) | round | int ) if minutes > 60 else minutes %}
      <button class="btn btn-success dropdown-toggle silence_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ time_display }} {{ 'hours' if minutes > 60 else 'min'}}
      </button>
      <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton">
        <a href="?minutes=30" class="btn dropdown-item">30 min</a>
        <a href="?minutes=60" class="btn dropdown-item">60 min</a>
        <a href="?minutes=120" class="btn dropdown-item">2 hours</a>
        <a href="?minutes=240" class="btn dropdown-item">4 hours</a>
        <a href="?minutes=360" class="btn dropdown-item">6 hours</a>
        <a href="?minutes=720" class="btn dropdown-item">12 hours</a>
        <a href="?minutes=1440" class="btn dropdown-item">24 hours</a>
      </div>
    </div>
    <a href="/status/host/{{ service['host']['id'] }}" class="btn btn-primary host_back_btn"> Host Status</a>
  </div>

  <div class="mt-3">
    {% if 'perf_data' in service %}
    {% for p in service['perf_data']: %}
    <div class="card mt-2">
      <div class="card-header" id="heading_{{p['id']}}">
        <h5 class="mb-0">
            Data Point: {{ p['label'] }}
        </h5>
      </div>
      <div class="card-body">
        <canvas id="graph-{{ p['id'] }}" class="mb-4"></canvas>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
{% block onload_scripts %}
load_graph()
{% endblock %}
