{% extends "base.html" %}
{% block header %}
<script type="text/javascript">

function load_status(){
  $.ajax({type: 'GET', url: '{{ url }}', success: function(data, status, request){
    table = $('#tag_info > tbody');

    // setup row objects
    var tr = $('<tr>');
    var td = $('<td>');

    //clear existing data
    table.empty();

    data.services.forEach(function(s){
      row = tr.clone();

      if(s.return_code == 0){
        row.append(td.clone().text(s.name).addClass('text-success'));
      }
      else if(s.return_code == 1){
        row.append(td.clone().text(s.name).addClass('text-warning'));
      }
      else {
        row.append(td.clone().text(s.name).addClass('text-danger'));
      }

      // link for the details
      host = $('<a>').html(s.host.name);
      host.attr('href', '/status/host/' + s.host.id);

      row.append(td.clone().append(host));

      row.append(td.clone().html(s.text.replaceAll("\n", "<br />")).addClass('hide-md'))
      row.append(td.clone().text(s.last_state_change))

      table.append(row);

    });

    // refresh in 15 seconds
    setTimeout(load_status, 15000);
  }});

}

</script>
{% endblock %}
{% block content %}
{% set current_status = ['text-success', 'text-warning', 'text-danger', 'text-secondary'] %}
{% set overall_status = ['OK', 'Warning', 'Critical', 'Unknown'] %}
{% set status_text = ['', '', '', 'text-secondary'] %}
<div class="container">
  <table class="table table-striped" id="tag_info">
    <thead class="thead-dark">
      <tr>
        <th>Service</th>
        <th>Host</th>
        <th class="hide-md">Output</th>
        <th>Last Change</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

{% endblock %}
{% block onload_scripts %}
load_status();
{% endblock %}
