{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/css/documentation.css" />
<script src="/static/js/documentation.js"></script>
<script type="text/javascript">
var copier = new DocumentationCopy();
</script>
{% endblock %}
{% block content %}
<div class="container">
  {% if not vault_unlocked %}
  <form method="POST" action="/dashboard/vault">
    <input type="hidden" name="redirect_url" value="{{ redirect }}" />
    <div class="row align-items-center">
        <div class="col-md-3 offset-lg-2">
          <p>Enter vault password to unlock:</p>
        </div>
        <div class="col-md-6">
          <input type="password" class="form-control" id="vault-password" name="vault_password"/>
        </div>
    </div>
  </form>
  {% else %}
  <table class="table table-striped" id="vault-table">
    <thead class="thead-dark">
      <tr>
        <th class="hide-md">Group</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      {% for e in vault_entries %}
      <tr>
        <td class="hide-md"><p>{{ e.group.name }}</p></td>
        <td><p>{{ e.title }}</p></td>
        <td><p><code>{{ e.username }}</code></p></td>
        <td><p><code>{{ e.password }}</code></p></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
{% block onload_scripts %}
copier.prepare();
$('#vault-password').focus();
{% endblock %}
