.tp-bg-black {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.tp-bg-blue {
  background-color: #0d6efd !important;
  color: #FFFFFF !important;
}

.tp-bg-gray {
  background-color: #6c757d !important;
  color: #FFFFFF !important;
}

.tp-bg-green {
  background-color: #198754 !important;
  color: #FFFFFF !important;
}

.tp-bg-light_blue {
  background-color: #0dcaf0 !important;
  color: #FFFFFF !important;
}

.tp-bg-orange {
  background-color: #f79b45 !important;
  color: #000000 !important;
}

.tp-bg-pink {
  background-color: #ffbdbd !important;
  color: #000000 !important;
}

.tp-bg-purple {
  background-color: #9f28a6 !important;
  color: #FFFFFF !important;
}

.tp-bg-red {
  background-color: #c42116 !important;
  color: #FFFFFF !important;
}

.tp-bg-yellow {
  background-color: #ffc107 !important;
  color: #000000 !important;
}
