.navbar-brand {
  font-size: 1.75rem;
}

/* moves menu to right */
.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.nav-btn {
  float: right;
}

.host-status-card{
  text-align: right;
}

#service_status td.row_1 {
  width: 20%;
}

#service_status td.row_2 {
  width: 60%;
}

@media screen and (max-width: 1199px) and (min-width: 991px) {
	.hide-lg{
		display:none;
	}
}

@media screen and (max-width: 991px) and (min-width: 300px) {
	.hide-lg{
		display:none;
	}
	.hide-md{
		display:none;
	}

  .navbar-brand {
    font-size: 1.50rem;
  }

  #service_status td.row_1 {
    width: 50%;
  }

  #service_status td.row_2 {
    width: 0%;
  }

  .nav-btn {
    margin-top: 5px;
  }

  .host-status-card{
    text-align: left;
  }

  .service_check_btn, .create-file-btn, .nav-btn{
    display: block;
    width: 100%;
  }

  .create-file-btn {
    margin-top: 5px;
  }
}

@media screen and (max-width: 300px) {
	.hide-lg{
		display:none;
	}
	.hide-md{
		display:none;
	}
	.hide-sm{
		display:none;
  }

  .host-status-card{
    text-align: left;
  }

}
