p {
  margin-top: 10px;
}

.navbar-brand {
  font-size: 1.75rem;
}

/* moves menu to right */
.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.nav-btn {
  float: right;
}

.host-status-card{
  text-align: right;
}

.div-inline{
    display:inline-block;
}

#service_status td.row_1 {
  width: 20%;
}

#service_status td.row_2 {
  width: 60%;
}

@media screen and (max-width: 1199px) and (min-width: 991px) {
	.hide-lg{
		display:none;
	}
}

@media screen and (max-width: 991px) {

  .tp-title {
    display:none;
  }

	.hide-lg{
		display:none;
	}
	.hide-md{
		display:none;
	}

  .navbar-brand, .host-title {
    font-size: 1.20rem;
  }

  #service_status td.row_1 {
    width: 50%;
  }

  #service_status td.row_2 {
    width: 0%;
  }

  .nav-btn {
    margin-top: 5px;
  }

  .host-status-card{
    text-align: left;
  }

  .host_back_btn {
    display: block;
    width: 100%;
  }

  .service_check_btn, .create-file-btn, .silence_btn, .nav-btn{
    margin-bottom:5px;
    display: block;
    width: 100%;
  }

  .dropdown-mobile {
    width: 100%;
  }

  .create-file-btn {
    margin-top: 5px;
  }

  .navbar-expand-lg .navbar-collapse {
    text-align: right;
  }

  #performance_refresh_counter {
    text-align: center;
  }
}

@media screen and (max-width:500px) {
  p {
    font-size: .8em;
  }

  .hide-sm {
    display:none;
  }

  .host_title span::before {
    content: "\A";
    white-space: pre;
  }

}
